body {
    margin:16px;
}
.success {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #24c127;
    color: #ffffff;
}
.alert-box p {
    margin-bottom:0em;
}

.light-text {
    color:gray;
    font-size:0.75em;
}
